/* ProjectSection.css */
.project-card-wrapper {
    padding: 0.25rem 0.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    .project-card-wrapper {
        padding: 1rem 0.5rem;
    }
}

.container {
    max-width: 1200px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}