/* ProjectSection.css */
.project-card-wrapper {
    padding: 1rem; /* Adjust as needed */
}

@media (min-width: 768px) and (max-width: 991px) {
    .project-card-wrapper {
        padding: 1rem 0.5rem; /* Adjust as needed for medium screens */
    }
}

.container {
    max-width: 1200px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card-img-ratio {
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    overflow: hidden;
}

.card-img-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
}

.badge {
    cursor: pointer;
    margin: 0.2rem;
  }
  
  .badge-primary {
    background-color: #007bff;
    color: white;
  }
  
  .badge-light {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
  }

  .badge-unselected {
    background-color: #007bff !important;
    color: white !important;
  }
  
  .badge-selected {
    background-color: white !important;
    color: #007bff !important;
    border: 1px solid #007bff !important;
  }